body {
  background-color: #FFFFB3;
  font-family: 'Chango', monospace;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.button-class {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #FFBFB7;
  padding: 20px 20px;
  border-radius: 3px;
  margin: 5px 5px;
}

ul {
  list-style-type: none;
}
